# Sensitive environment files
.env
.env.*
!.env.example

# OS files
.DS_Store
Thumbs.db
*.swp
*.swo

# Editor directories
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Fleet
.fleet/
/.fleet

# Nova
.nova/

# Zed
.zed/

# PHP
.phpactor.json
.phpunit.result.cache
.phpunit.cache/
auth.json

# Node
node_modules/
